aiofiles==23.2.1
annotated-types==0.5.0
anyio==3.7.1
asks==3.0.0
async-generator==1.10
async-timeout==4.0.3
asyncclick==8.1.3.4
attrs==23.1.0
blinker==1.5
click==8.1.6
Deprecated==1.2.14
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.14.4
hyperframe==6.0.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
loguru==0.7.0
MarkupSafe==2.1.3
outcome==1.2.0
packaging==23.1
priority==2.0.0
pydantic==2.2.1
pydantic_core==2.6.1
pyhumps==3.8.0
python-dotenv==1.0.0
quart==0.18.4
quart-schema==0.16.0
quart-trio==0.10.0
redis==4.5.5
sniffio==1.3.0
sortedcontainers==2.4.0
trio==0.22.2
trio-asyncio==0.12.0
typing_extensions==4.7.1
Werkzeug==2.3.7
wrapt==1.15.0
wsproto==1.2.0
